<div>
    <div>
        <top-nav-directive></top-nav-directive>
    </div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    {{'welcome' | translate}} {{userName}}
                    <br /><small>{{'orgSetupMessage' | translate}}</small>
                </h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row" cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Organization Setup
                    </div>
                    <div class="panel-body">
                        <p>* {{'orgSetUpFieldLabel.mandatoryFiels'|translate}}</p>
                        <div class="row">
                            <form role="form" name="form">
                                <div class="col-lg-6">
                                    <div class="form-group" ng-class="{'has-error': form.organizationName.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.name'|translate}} *</label>
                                        <input class="form-control"
                                               placeholder="Organization Name"
                                               name="organizationName"
                                               type="text"
                                               ng-model="organization.name"
                                               ng-required="true"
                                               ng-minlength="2" />
                                        <label class="help-block has-error" ng-if="form.organizationName.$error.required && (submitted)">Organization Name is required</label>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.description.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.description'|translate}}</label>
                                        <textarea class="form-control" rows="3"
                                                name="description"
                                                ng-model="organization.description"></textarea>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.country.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.country'|translate}}</label>
                                        <select class="form-control"
                                                name="country"
                                                ng-model="organization.country">
                                            <option>United States of America</option>
                                            <option>Canada</option>
                                            <option>Mexico</option>
                                            <option>UK</option>
                                            <option>China</option>
                                        </select>
                                        <label class="help-block has-error" ng-if="form.country.$error.required && (submitted)">Acronym is required</label>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.city.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.city'|translate}}</label>
                                        <select class="form-control" name="city" ng-model="organization.city">
                                            <option>Chicago</option>
                                            <option>St Paul</option>
                                            <option>New York</option>
                                            <option>Boston</option>
                                            <option>Los Angles</option>
                                        </select>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.email.$error.pattern || form.email.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.email' | translate}}</label>
                                        <input class="form-control"
                                               placeholder="E-mail"
                                               name="email"
                                               type="email"
                                               autofocus value=""
                                               ng-model="organization.email"
                                               ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" />
                                        <label class="help-block" ng-if="form.email.$error.pattern && (submitted)">The Email is invalid</label>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group" ng-class="{'has-error': form.acronym.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.acronym'|translate}}</label>
                                        <input class="form-control"
                                               placeholder="Acronym"
                                               name="acronym"
                                               type="text"
                                               ng-model="organization.alias"
                                               ng-minlength="2" />
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.address.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.streetAddress'|translate}}</label>
                                        <textarea class="form-control" rows="3" name="address" ng-model="organization.address"></textarea>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.state.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.state'|translate}}</label>
                                        <select class="form-control" name="state" ng-model="organization.state">
                                            <option>Illinois</option>
                                            <option>Minnesota</option>
                                            <option>Wisconsin</option>
                                            <option>New York</option>
                                            <option>Washington</option>
                                        </select>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.phone.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.phone'|translate}}</label>
                                        <input class="form-control"
                                               placeholder="Phone Number"
                                               name="phone"
                                               type="text"
                                               ng-model="organization.phone"
                                               ng-minlength="15" />
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': form.website.$error.required && (submitted)}">
                                        <label>{{'orgSetUpFieldLabel.website'|translate}}</label>
                                        <input class="form-control"
                                               placeholder="Web Site"
                                               name="website"
                                               type="text"
                                               ng-model="organization.website"
                                               ng-minlength="15" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <a class="btn btn-success" ng-click="SaveAndContinue(form, organization)">Save & Continue</a>&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-default">Save & Exit</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
