<div>
    <top-nav-directive></top-nav-directive>
</div>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                {{orgnizationName}}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Organization Capability Setup</h3>
                    <p class="text-info">
                        As a best practice there should be 3 levels of hierarchies for capabilities. Below forms allows to setup all the levels of capabilities.
                        You can also review your Capability Architecture in the section below.
                    </p>
                    <p>* {{'orgSetUpFieldLabel.mandatoryFiels'|translate}}</p>
                    <form role="form" name="frmCapability">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Parent Capability for {{orgnizationName}}
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">

                                        <div class="form-group" ng-class="{'has-error': frmCapability.capabilityName.$error.required && (submitted)}">
                                            <label>Name *</label>
                                            <input class="form-control"
                                                   placeholder="Capability Name"
                                                   name="capabilityName"
                                                   type="text"
                                                   ng-model="capability.name"
                                                   ng-required="true"
                                                   ng-minlength="2"/>
                                            <label class="help-block has-error" ng-if="frmCapability.capabilityName.$error.required && (submitted)">Capability Name is required</label>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error': frmCapability.capabilityDescription.$error.required && (submitted)}">
                                            <label>Description *</label>
                                            <textarea class="form-control"
                                                      rows="3"
                                                      placeholder="Description"
                                                      name="capabilityDescription"
                                                      ng-model="capability.description"
                                                      ng-required="true"
                                                      ng-minlength="2"></textarea>
                                            <label class="help-block has-error" ng-if="frmCapability.capabilityDescription.$error.required && (submitted)">Capability Description is required</label>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error': frmCapability.capabilityLevel.$error.required && (submitted)}">
                                            <label>Capability level *</label>
                                            <select class="form-control" ng-model="capability.level" name="capabilityLevel" ng-required="true">
                                                <option>Level 1</option>
                                                <option>Level 2</option>
                                                <option>Level 3</option>
                                            </select>
                                            <label class="help-block has-error" ng-if="frmCapability.capabilityLevel.$error.required && (submitted)">Capability Level is required</label>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error': frmCapability.capabilityLevel !== 'Level 1'}" ng-disabled="capability.level!=='Level 1'">
                                            <div>
                                                <label>Capabilities</label>
                                            </div>
                                            <div>
                                                <treecontrol class="tree-classic"
                                                             tree-model="treedata"
                                                             node-children="children"
                                                             on-selection="showSelected(node)"
                                                             expanded-nodes="expandedNodes"
                                                             name="parentNode">
                                                    {{node.label}}
                                                </treecontrol>
                                            </div>
                                            <label class="help-block has-error" ng-if="capability.level != 'Level 1' && frmCapability.capabilityLevel.$valid">Select Parent Capability</label>
                                        </div>

                                        <div class="form-group" ng-class="{'has-error': frmCapability.capabilityState.$error.required && (submitted)}">
                                            <label>State *</label>
                                            <select class="form-control" ng-model="capability.state" name="capabilityState" ng-required="true">
                                                <option>Exists</option>
                                                <option>Gap</option>
                                                <option>Planned</option>
                                            </select>
                                            <label class="help-block has-error" ng-if="frmCapability.capabilityState.$error.required && (submitted)">Capability Gap is required</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Planned Completion Date</label>
                                            <input class="form-control"
                                                   placeholder="Planned Completeion date"
                                                   name="plannedDate"
                                                   type="date"
                                                   ng-model="capability.plannedDate"
                                                   ng-disabled="capability.state !== 'Planned'"/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--child capability-->
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Child Capabilities for - {{selected}}
                                        <div class="pull-right">
                                            <span><i class="fa fa-square text-success"></i> Exists&nbsp;</span>
                                            <span><i class="fa fa-square text-danger"></i> Gap&nbsp;</span>
                                            <span><i class="fa fa-square-o"></i> Planned</span>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div id="spaceforbuttons"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="col-lg-6">
                        <a class="btn btn-success" ng-click="save(frmCapability)">Save</a>&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-success" ng-click="saveAndContinue(frmCapability, capability)">Save & Continue</a>&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-default">Save & Exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
